.contact-screen-container {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  min-width: 1024px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

@media (max-width: 812px) {
  .contact-screen-container {
    display: unset;
    width: 100vw;
    max-width: 812px;
    min-width: 360px;
    min-height: 20vh;
  }
}
