#thanks {
    margin: auto;
    width: 100%;
    max-width: 2000px;
    min-width: 1024px;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

@media (max-width: 812px) {
    #thanks {
        grid-template-columns: unset;
        grid-template-rows: 40% 60%;
        width: 100vw;
        max-width: 812px;
        min-width: 360px;
    }
}
