.thanks-list-container {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--gray-lightest);
}


.thanks-list {
    padding: 0;
    margin: auto;
    width: 50%;
}

.thanks-list  li{
    list-style: none;
    padding: 0;
    margin: 33% 0;
    width: 100%;
    max-width: 480px;
    min-width: 300px;
    display: flex;
}

.thanks-list--picture {
    height: 96px;
    width: 96px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius: 30%;
    float: left;
}

.thanks-list p {
    padding: 0 20px;
    color: var(--gray-darkest);
    text-shadow: 1px 1px var(--orange-lightest);
    font-weight: bold;
}

@media (max-width: 812px) {
    .thanks-list {
        width: 80%;
    }

    .thanks-list  li{
        margin: 160px 0;
        height: auto;
    }

    .thanks-list--picture {
        height: 120px;
        width: 120px;
    }

    .nav-background.vanish {
        display: none;
    
    }

}