.footer-container {
}

.footer-container h2 {
  color: #eee;
  padding-top: 1em;
  padding-left: 0.5em;
  margin: 0px;
}

.footer-list {
  list-style-type: none;
  padding-left: 1em;
  margin-bottom: 0px;
  margin-top: 2em;
}

.footer-list--list-item:last-child {
  padding-bottom: 2em;
}

.footer-list--list-item {
  margin-top: 2em;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0;
}

.footer-list--list-item h4 {
  padding: 0px;
  margin: 0px 0px 5px;
}
.footer-list--list-item p {
  color: #e0e5eb;
  padding: 0px;
  margin: 0px;
}
.footer-list--list-item p a {
  text-decoration: none;
  color: #e0e5eb;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 650px) {
  .footer-list {
    display: flex;
    max-width: 460px;
    justify-content: space-between;
  }

  .footer-list--list-item {
    display: inline-block;
    max-width: 30%;
  }

  .footer-list {
    margin-top: 0em;
  }
}
