.add-author-container {
    margin: 0px;
    background-color: royalblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#add-author {
    margin: auto;
    background-color: navajowhite ;
    padding: 10px 10px 10px;
    width: 80%;
    min-width: 270px;
    max-width: 540px;
    height:auto;
    border-radius: 2%;
    display: block;
    box-sizing: border-box;
}

#add-author .field{
    display: grid;
    grid-template-columns: auto-fit auto;
    grid-gap: 0px;
    text-align: center;
}


#add-author label {
    text-align: start;
    font-size: smaller;
    padding: 6px 6px 0px;
    margin: 6px 6px 0px;
    font-weight: bolder;
}

form input {
    margin:  0px 10px 5px;
    padding: 6px;
    box-sizing: border-box;
    float: left;
    border-radius: 5%;
}

button {
    color:#fff;
    background: #ad1457;
    border:0;
    cursor: pointer;
}

.add-author {
    height: 40px;
    width: 40px;
    font-size:2em;
    padding: 0 10px;
    border-radius: 50%;
}

@media screen and (min-width: 675px){
    .add-author {
        position: relative;
    }
}
